{{ if index . "github" -}}
{{- if index . "github" "token_read" -}}
export GITHUB_TOKEN="{{ .github.token_read }}"
{{ end -}}
{{- if index . "github" "token_write" -}}
export GITHUB_PUBLISH_TOKEN="{{ .github.token_write }}"
{{ end -}}
{{- end -}}
